bin/*
/gen
.gitignore
.classpath
.settings/
#txt files
*.txt

#property files
*.properties

#built application files
*.apk
*.ap_

#files for vm
*.dex
R.java
#java .class files
*.class

#java .classpath files
*.classpath
