<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.zzwfang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:name="cn.com.zzwfang.app.SmartHouseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true" >
        <activity android:name="cn.com.zzwfang.activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="cn.com.zzwfang.activity.FirstActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="cn.com.zzwfang.activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="cn.com.zzwfang.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="cn.com.zzwfang.activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        
        <activity android:name="cn.com.zzwfang.activity.SettingsActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeedbackActivity" />
        <activity android:name="cn.com.zzwfang.activity.MyDemandActivity" />
        <activity android:name="cn.com.zzwfang.activity.MortgageCalculatorActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="cn.com.zzwfang.activity.MyHouseResourcesActivity" />
        <activity android:name="cn.com.zzwfang.activity.BrowseRecordActivity" />
        <activity android:name="cn.com.zzwfang.activity.MessageActivity" />
        <activity android:name="cn.com.zzwfang.activity.MyConcernHouseResourcesActivity" />
        <activity android:name="cn.com.zzwfang.activity.MyProxyActivity" />
        <activity android:name="cn.com.zzwfang.activity.SecondHandHouseActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="cn.com.zzwfang.activity.NewHouseActivity" />
        <activity android:name="cn.com.zzwfang.activity.SearchHouseArtifactActivity" />
        <activity android:name="cn.com.zzwfang.activity.ForgetPwdActivity" />
        <activity android:name="cn.com.zzwfang.activity.CityListActivity" />
        <activity android:name="cn.com.zzwfang.activity.SearchHouseActivity" />
        <activity android:name="cn.com.zzwfang.activity.RentHouseActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="cn.com.zzwfang.activity.SmartHouseProtocolActivity" />
        <activity android:name="cn.com.zzwfang.activity.SearchHouseArtifactRequirementActivity" />
        <activity android:name="cn.com.zzwfang.activity.SearchHouseArtifactResultActivity" />
        <activity android:name="cn.com.zzwfang.activity.SecondHandHouseDetailActivity" />
        <activity android:name="cn.com.zzwfang.activity.ProxyDetailActivity" />
        <activity android:name="cn.com.zzwfang.activity.ShangJinLieRenActivity" />
        <activity android:name="cn.com.zzwfang.activity.FillBankCardInfoActivity" />
        <activity android:name="cn.com.zzwfang.activity.RentHouseDetailActivity" />
        <activity android:name="cn.com.zzwfang.activity.PictureBrowseActivity" />
        <activity android:name="cn.com.zzwfang.activity.RecommendHouseDetailActivity" />
        <activity android:name="cn.com.zzwfang.activity.NewHouseDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="cn.com.zzwfang.activity.NewsDetailActivity" />
        <activity android:name="cn.com.zzwfang.activity.SeeHouseRecordActivity" />
        <activity android:name="cn.com.zzwfang.activity.MyHouseListActivity" />
        <activity android:name="cn.com.zzwfang.activity.ProxySellHouseActivity" />
        <activity android:name="cn.com.zzwfang.activity.IWantBuyHouseActivity" />
        <activity android:name="cn.com.zzwfang.activity.ChangePwdActivity" />
        <activity android:name="cn.com.zzwfang.activity.AboutUsActivity" />
        <activity android:name="cn.com.zzwfang.activity.CommonProblemsActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterInfoActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterMyCustomerActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterRecommendNewHouseActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterRecommendCustomerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterProgressDetailActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterRecommendHouseSourceListActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterMsgActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterRuleActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterWalletActivity" />
        <activity android:name="cn.com.zzwfang.activity.FeeHunterRecommendOwnerActivity"
             android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name="cn.com.zzwfang.activity.NearbyDetailActivity" />
        <activity android:name="cn.com.zzwfang.activity.SandTableDisplayActivity" />
        <activity android:name="cn.com.zzwfang.activity.ResidentialTransactionHistoryActivity" />
        <activity android:name="cn.com.zzwfang.activity.ChatActivity" />
        <activity android:name="cn.com.zzwfang.activity.SelectEstateActivity" />
        <activity android:name="cn.com.zzwfang.activity.BrokerInfoActivity" />
        <activity android:name="cn.com.zzwfang.activity.MyDemandInfoActivity" />
        
        <!-- ===================================百度定位【start】=================================================================== -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="W154lf8ukfGTQ5CaTL5mV8CB" >
        </meta-data>
        <!-- ==================================百度定位【end】=================================================================== -->
        
        <!-- ===================================环信【start】=================================================================== -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="zzwfang#zzwim" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.easemob.chat.EMChatService" />
        <!-- =====================================环信【end】=================================================================== -->
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>